{% extends "myapp/index.html" %}

{% block title %}Listar Colaboradores{% endblock title %}

{% block content %}

<head></head>
<title>Relatorio EPI's</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <div class="container justify-content-center mt-4">
    <div class="card-body">
      <div class="card my_class" style="max-width: 500px; margin: auto;">
        <form method="post">
          {% csrf_token %}
          <label for="EPI">Equipamento</label>
          <div class="form-group">
            <select class="form-control" name="equipamento">
              {% for epi in epis %}
              <option value="{{ epi.id }}">{{ epi.nome }}</option>
              {% endfor %}
            </select>
          </div>
          <label for="Colaborador">Colaborador</label>
          <div class="form-group">
            <select class="form-control" name="colaborador">
              {% for colaborador in colaboradores %}
              <option value="{{ colaborador.id }}">{{ colaborador.nome }}</option>
              {% endfor %}
            </select>
          </div>
          <label for="status">Status</label>
          <div class="form-group">
            <select class="form-control" name="status">
              <option value="emprestado" selected>Emprestado</option>
              <option value="em uso">Em uso</option>
              <option value="fornecido">fornecido</option>
              <option value="devolvido">devolvido</option>
              <option value="danificado">danificado</option>
              <option value="perdido">perdido</option>
            </select>
          </div>
          <input class="btn btn-success" type="submit" value="enviar">
        </form>
      </div>
<div class="container mt-3">
{% if epis and colaboradores %}
  {% if status and epi and colaborador %}
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Equipamento</th>
          <th>Colaborador</th>
          <th>Data Emprestimo</th>
          <th>Data Prevista Devolução</th>
          <th>Status</th>
          <th>Condições Equipamento</th>
          <th>Data de Devolução</th>
          <th>Observação</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for emprestimos in emprestimo %}
          {% if emprestimos.status == status and emprestimos.id_EPIgenerico_fk == epi and emprestimos.nome == colaborador.nome%}
          <tr>
            <td>{{ emprestimos.id }}</td>
            <td>{{ epi }}</td>
            <td>{{ emprestimos.nome }}</td>
            <td>{{ emprestimos.data_emprestimo }}</td>
            <td>{{ emprestimos.data_prevista }}</td>
            <td>{{ emprestimos.status }}</td>
            <td>{{ emprestimos.condicoes }}</td>
            <td>{{ emprestimos.data_devolucao }}</td>
            <td>{{ emprestimos.motivo_devolucao }}</td>
            <td>
              <a class="btn btn-danger" href="/deletarEPI/{{ epis.id }}">Deletar</a>
              <a class="btn btn-warning" href="/atualizarEPI/{{ epis.id }}">Atualizar</a>
            </td>
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  
  
{% endif %}
        
      </div>
    </div>
  </div>
</body>

{% endblock content %}
